@media only screen and (min-width: 35em)
{
    

h1, h2, h3, h4, h5, h6 {
  color: black;
  /*background-color: #b1d6a3; */
  font-family: 'Merriweather', 'Open Sans', serif;
  text-align: center;
}
body { 
  display: block;
  background-color:#035117;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0.5em;
}
/*header {
    display: block;
}*/
a {
    text-decoration: none;
  }
nav a {
  color: #ffffff;
  font-size: 1.1em;
  padding: 1em;
  text-decoration: underline;
}
nav ul {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
    list-style: none;
    margin: 0; 
    justify-items: center;
  }
  
main {
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(5, 1fr);

}

img {
  max-width: 100%;
}

#header-area {
    display: grid;
    grid-template-rows: 1fr 1fr auto;
    background-color: #035117;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

#logo {
    grid-column: 1;
    grid-row: 1;
    background-color: #035117;
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    padding: 1em;
    justify-content: center;
    align-items: center;
}
#logo img {
    max-width: 90px;
    height: auto;
    width: 100%;
    margin: 0em;
}
h1 {
    text-align: left;
    font-size: 2em;
    font-weight: bold;
    background-color: #3e3e3e;
    color: #b1d6a3;
}
#header-title {
    align-items: center;
}
section {
    display: block;
    border: 1px black solid;
}
#menu {
    display: flex;
    flex-flow: row nowrap;
}
.social {
    grid-row: 1 auto;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.social img {
    
}
nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
    list-style: none;
    margin: 0;
    justify-items: center;
    display: flex;
    flex-flow: row nowrap;
}
ul {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    padding-inline-start: 2em;
}
.home .spotlight {
    padding: 1em;
}
h3 {
    display: block;
    font-size: 2em;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  grid-gap: 1em;
  background-color: #3e3e3e;
  align-items: center;
  color: #ffffff;
  padding: 0.5em;
}

footer p {
    display: block;
    margin: 1em 1em;
    padding: 0;
    justify-self: center;
    color: #b1d6a3;
}
#bottom-logo {
    max-width: 100px;
    height: auto;
}
nav a:hover{
  color: #071061;
  background-color: #b1d6a3;
}

@media (min-width: 35em) and (max-width: 900px) {
   #header-title {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 0.5em;
    place-items: center;
   }
   #logo img {
    max-width: 90px;
   }
   #menu {
    flex-direction: column;
    align-items: flex-end;
   }
    nav ul {
        display: block;
    }
    .social img {
        max-width: 50px;
        height: auto;
    }
    #currentYear {
        display: grid;
        grid-column: 1/3;
        grid-row: 2 auto;
    }
}
}