@media only screen and (min-width: 65em) {
    body {
        margin: 0;
        margin: auto;
      }
    
      /* navigation */
      #toggler{
        display: none;
      }
    
      #nav-links{
        display: block;
      }
    
      #social{
        display: flex;
      }
    
      /* grids */
      .home-page{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
        margin-top: 2rem;
      }
    
      .weather{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        margin-top: 0;
      }
    
      .personalinfo{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
      }
    
      /* about us */
    #contactForm{
      display: flex;
      flex-direction: column;
    }
    }