* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: Acme, Arial, sans-serif;
}

h1 {
	font-size: 1.5rem;
    text-decoration: underline;
}

main {
	margin: 1rem auto;
	border: 1px solid rgba(181, 31, 31, 0.1);
	padding: 1rem;
	background-color: rgba(233, 178, 178, 0.819);
	display: flex;
	flex-direction: column;
    border-radius: 0.2em;
}
label {
    padding: 0.5em;
}

input,
button {
	padding: 0.5rem;
}

button {
	margin: 0.5rem;
    border-radius: 0.8em;
}
/*#list button {
    background-color: rgb(215, 154, 168) ;
}*/
.delete {
	width: fit-content;
}

.input {
	display: flex;
	gap: 1rem;
}

.list {
	padding: 0.5rem;
}

ul {
	margin: 1rem;
	list-style: none;
    padding: 0.5em;
    border-radius: 0.5em;
}

li {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media only screen and (min-width: 32.5em) {
	h1 {
		font-size: 2rem;
	}

	main {
		width: 320px;
	}
}
