@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


h1, h2 {
  color: black;
  font-family: 'Open Sans', sans-serif;
}

header {
  align-items: center;
  display: grid;
  grid-template-columns: 140px auto;
    background-color: #4abbe8;
  box-shadow: 5px 5px 5px;
  color: #071061;
}

h1 {
  padding: 1em;
}

img {
  max-width: 100%;
}
.profile {
  border: 1px solid;
  color: #C0EFF3;
  padding: 10px;
  box-shadow: 5px 5px 5px;
  color: #071061;
}
body {
  max-width: 900px;
  margin: 0 auto;
  background-color: white;
  padding: 1em;
}

h2 {
  padding: 5px;
  border-bottom: 2px solid;
  color: #071061;
}

ul {
  display: grid;
margin: 0;
  justify-items: beginning;
}

h5 {
  border-top: 2px solid;
  color: #071061;
}

footer {
  display: grid;
  grid-template-columns: repeat(1fr);
  background-color:#4abbe8;
  box-shadow: 5px 5px 5px;
  color: #071061;
  justify-self: center;
}
footer p {
  justify-self: center;
  color: black;
}

